@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato&family=Poppins:wght@200;300;400;500;600&family=Rubik:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.root{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.root .h1{
  margin-top: 40px;
  width: 400px;
  text-align: center;
  background-color: rgb(7, 70, 101);
  padding: 5px;
  color: #fff;
}

.div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 400px;
  background-color: rgb(8, 154, 226);
}

.padding{
  padding: 10px 20px;
}
.h{
  background-color: red;
  width: 100%;
  text-align: center;
  position: relative;
}

.inner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: #4CAF50;
  padding: 10px;
  color: white;
}

.head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

form{
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(8, 154, 226);
  padding: 20px;
}

.form-label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-row{
  width: 100%;
  height: 300px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-input{
  background-color: #4CAF50;
  width: 100%;
  color: white;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  outline: none;
}